*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    background-color:hwb(0 0% 100% / 0.903);
    width: 100%;
}

/* header section */
.header{
    margin-top: 10px;
     background-color: hwb(0 0% 100%);
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: fixed;
     padding: 10px;
}
.logo h3{
    color: aliceblue;
    cursor:pointer;
    padding-left: 10px;
}
.navbar a{
    padding: 15px;
    color: aliceblue;
}

/* background text */
.sec1{
    font-size: 150px;
    color: rgba(245, 245, 245, 0.9);
    opacity: 0.1;
    position: relative;
    top: 220px;
    left: 80px;
}

/* first product details */
.sec2{
    color: white;
    position: relative;
    top: 50px;
    left: 150px;
}
.sec2 h1{
        font-size: 50px;
}
.sec2 del{
    position: relative;
    left: 8px;
    opacity: 0.4;
}
.sec2 button{
    border: 1px solid orangered;
    color: white;
    background-color: orangered;
    padding: 5px;
    cursor: pointer;
}

/* product image */
.sec3 img{
    width: 550px;
    position: relative;
    left: 800px;
    bottom: 400px;
}

/* featured products */
#id1{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    padding-bottom: 30px;
    margin-bottom:80px ;
}
.topimages{
    display: flex;
}
.topimages img{
    width: 200px;
}
#id2{
    color: aliceblue;
    flex: 1;
    margin: 10px;
    justify-items: center;
    position:relative;
    top: 30px;
}
#id3{
    color: aliceblue;
    flex: 2.5;
    margin: 10px;
    justify-items: center;
}
#id4{
    color: aliceblue;
    flex: 5;
    margin: 20px;
    justify-items: center;
    position: relative;
    bottom: 50px;
}
#id4 span{
    position: relative;
    left: 110px;
}
#id4 del{
    position: relative;
    left: 120px;
}
#id5{
    color: aliceblue;
    flex: 2.5;
    margin: 10px;
    justify-items: center;
}
#id6{
    color:aliceblue;
    flex: 1;
    margin: 10px;
    justify-items: center;
    position: relative;
    top: 40px;
}
.topimages span{
    position: relative;
    left: 30px;
}
.topimages del{
    position: relative;
    left: 35px;
    opacity: 0.5;
}
#id2 img{
    width: 150px;
}
#id3 img{
    width: 200px;
}
#id4 img{
    width: 350px;
}
#id5 img{
    width: 200px;
}

#id6 img{
    width: 150px;
}
.topimages p{
    opacity: 0.5;
}

/* top products section */
.class1{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 60px;
}
.class2{
    display: flex;
    justify-content:center;
    margin-bottom: 40px;
}
.class2 a{
     color: aliceblue;
     text-decoration: none;
     margin: 20px;
     /* margin-left: 90px; */
     margin-right: 90px;
     padding: 5px;
}
.class2 a:hover{
    background-color: #ed3c3c;
}
section .class3{
    border: 1px solid  #ed3c3c;
    padding: 5px 7px 5px 7px;
    background-color: #ed3c3c;
}

/* cart image section */
.cart{
    border: 1px solid gray ;
    width: 261px;
    height: 475px;
     margin: 10px ; 
    background-color: black;
}
.class4 figure a img{
    border: 1px solid hsl(180, 3%, 7%);
    width: 259px;
    margin-bottom: 20px;
    background-color: hsl(180, 3%, 7%);
    padding: 20px 50px 20px 20px;
}
.class4 img:hover{
            transform: scale(1.2);
            width: 259px;
            background: none;
}
.class4 .id7{
    padding-left: 15px;
    padding-right: 15px;
    color: aliceblue;
}
.class4 figure .id8{
    color: #ed3c3c;
}
.class4 figure figcaption{
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 7px;
}
.class4 figure p{
    color: gray;
}
.class4 figure button{
    border: 1px solid  #ed3c3c;
    border-radius: 3px;
    background-color: hwb(0 9% 20%);
    color: aliceblue;
    cursor: pointer;
    padding: 8px 75px 8px 75px;
}
.class4 figure del{
    margin-left: 12px;
}
.class4{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
}

.newtab{
    border: 1px solid gray ;
    width: 261px;
    height: 475px;
     margin: 10px ; 
    background-color: black;
    color: aliceblue;
    font-size: 25px;
    align-content: center;
    text-align: center;
}

/* footer section */
#centertag p{
    text-align: center;
    color: aliceblue;
    margin-top: 90px;
    margin-bottom: 90px;
    font-size: 20px;
    font-weight: bolder;
}
.icons span h4{
    color: aliceblue;
    
}
.icons span h5{
    color: gray;
    padding-top: 6px;
}
.icons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}
.icons div{
    display: flex;
}
.icons span{
    margin: 0px 10px 40px 15px;

}
.icons i{
    margin-top: 10px;
}

/* footer section */
footer{
    width: 100%;
    height: 567px;
    background-color: hwb(0 0% 100%);
    padding-left: 15px;
    /* display: flex; */
 
}
footer h2{
    color: white;
}
footer article{
    color: white;
}
footer p{
    color: gray;
    padding: 5px;
}
footer h3{
    color: white;
    margin: 8px;
}
footer aside{
    color: white;
    padding-bottom: 20px;
}
